<h1>
  My Books <span class="badge bg-info">{{ getBookCount() }}</span>
</h1>
  <button class="btn btn-outline-info" (click)="goToAddBook()">
    Add a Book
  </button>

<div id="bookList" *ngIf="!selectedBook && !addingBook">
  <div id="sortAndFilter" class="row">
    <label for="sort" class="form-label col-auto">Sort By</label>
    <select name="sort" [(ngModel)]="sortParam" class="form-select col">
      <option value="author">Author</option>
      <option value="title">Title</option>
      <option value="pages">Pages</option>
      <option value="lastFinished">Date Last Finished</option>
    </select>

    <label for="authors" class="col-auto">Author</label>
    <select name="authors" [(ngModel)]="authorId" class="form-select col">
      <option [value]="null"> -- All Authors -- </option>
      <option *ngFor="let author of authors" value="{{author.id}}">{{author.fullName}}</option>
    </select>


  </div>
  <div class="row">
    <div
      class="col-sm-3 cardCol"
      *ngFor="
        let book of books
          | author : authorId
          | title : titleParam
          | sort : sortParam;
          let i = index
          "
    >
    <!-- | filter : filterType : filterParam -->
      <div class="card">
        <img
          [src]="book.coverImageUrl"
          class="card-img-top bookCardThumb"
          alt="Cover for {{ book.title }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <div class="card-text">
            <p *ngFor="let author of book.authors">
              {{ author.fullName }}
            </p>
          </div>
          <a (click)="displayBook(book)" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="bookDetails" *ngIf="selectedBook && ! addingBook">
  <h1>
    {{ selectedBook.title }}
    <button class="btn btn-outline-info" (click)="displayList()">Back</button>
  </h1>
  <h3 *ngFor="let author of selectedBook.authors">{{ author.fullName }}</h3>
  <img
    [src]="selectedBook.coverImageUrl"
    alt="Cover art for {{ selectedBook.title }}"
    class="bookDetailCover"
  />
  <p>{{selectedBook.description}}</p>
  <hr style="clear: both;">
  <p>{{selectedBook.pages}} pages.</p>
  <p>Last finished reading: {{ selectedBook.lastFinished }}</p>
</div>

<div id="bookAdd" *ngIf="addingBook">
  <h1>
    Add a new Book
    <button class="btn btn-info" (click)="displayList()">Back</button>
  </h1>
  <form>
    <div class="row">
      <label class="form-label col-auto" for="title">Title</label>
      <input class="form-control col" type="text" name="title" />
    </div>
  </form>
</div>
